@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display-1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

img:hover{
    transform: scale(1.05);
    transition: 0.25s ease;
}

button:hover{
    transform: scale(1.05);
    transition: 0.25s ease;
}

span:hover{
    transform: scale(1.05);
    transition: 0.25s ease;
}

.userContent:hover{
    transform: scale(1.02);
    transition: 0.25s ease;
}